DATABASE_URL=postgres://postgres:password@localhost:5432/attendance_service
API_URL=127.0.0.1:3000
ALLOWED_ORIGIN=http://localhost:5173
SECRET_KEY=your-jwt-secret

SQLX_OFFLINE=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587 #STARTTLS
SMTP_USERNAME=test@mail.com
SMTP_NAME=Test
APP_PASSWORD=your-app-generated-password
